<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HolidayService2Soap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="HolidayService2Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.holidaywebservice.com/HolidayService_v2/HolidayService2.asmx"
                binding="basicHttpBinding" bindingConfiguration="HolidayService2Soap"
                contract="Holiday.HolidayService2Soap" name="HolidayService2Soap" />
        </client>
    </system.serviceModel>
</configuration>